.header{
position: fixed;
top: 0;
right: 0;
left: 0;
background-color: rgb(68, 68, 68);
height: 80px;
color: white;
padding-left: 30px;
font-size: 30px;
padding-top: 15px;
font-weight: 500;

}
body{
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  
}
.mainn{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welc{
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(68,68,68);
  font-weight: 600;
  
}
.mainn2{
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.15, 0.2);
  
}
.email-input, .paw-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-bottom: 10px;
}

.email-input:focus , .paw-input:focus{
  border-color: #007bff; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow when focused */
}

.email-input::placeholder ,.paw-input::placeholder {
  color: #adadad; /* Style the placeholder text */
}
